body {
    background-color: pink;
    background-repeat: no-repeat;
}

judul {
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    text-align:center;
    margin: 0;
    font-size: 20pt;
    background-color: bisque;
}

table{
   display: inline-block;
}

background {
    color:pink;
    text-align: center;
 }


namaku{
    width: 100px;
    display: inline-block;
}

namaku{
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

imposisi{
    font-family:'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

halo {
    font-family:'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}


halo {
    font-family:'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

halo {
    font-family:'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
    
left-div{
width: 100px;
display: inline-block;
}

right-div{
    display: inline-block;
}